body{
    margin: 0;
    padding: 0;
}
button{
    font-size: larger;
    background-color: white;
    border: 1px solid lightgrey;
    padding: 0.4rem 0.9rem;
}
button:hover{
    background-color: #CDCDCD;
    cursor: pointer;
}
.page-container{
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas: 
    "header" "header" "header"
    "main" "main" "main";
}
header{
    position: sticky;
    z-index: 100000;
    background-color: white;
    top: 0;
    border: 1px solid lightgrey;
    padding: 1rem;
    border-radius: 0  0 3px 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow:0px -1px 47px -4px #CDCDCD;
    grid-area: header;
}
header .menu-btn{
    display: flex;
    align-items: center;
}
header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
}
header button{
    font-size: larger;
    background-color: white;
    border: 1px solid lightgrey;
    padding: 0.4rem 0.9rem;
    /* border-radius: 7px; */
}
header button:hover{
    background-color: lightgrey;
    cursor: pointer;
}

main{
    grid-area: main;
}
.news{
    margin: 2rem;
    display: grid;
    grid-template-areas: 
    "news business"
    "forex forex"
    "txt entert";
    gap: 2rem;
}
.science{
    margin: 2rem;
    display: grid;
    grid-template-areas: 
    "science tech"
    "nasa nasa";
    gap: 2rem;
}
.health{
    margin: 2rem;
    display: grid;
    gap: 2rem;
}
.news-container{
    display: grid;
    gap: 0.5rem;
    padding: 1rem;
    height: 500px;
    overflow-y: auto;
    border: 1px solid lightgray;
    padding: 25px;
    border-radius: 7px;
    grid-area: news;
    background-color: #cdcdcd38;
}
.health-container{
    display: grid;
    gap: 0.5rem;
    padding: 1rem;
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid lightgray;
    padding: 25px;
    border-radius: 7px;
    grid-area: news;
    background-color: #cdcdcd38;
}
.science-container{
    display: grid;
    gap: 0.5rem;
    padding: 1rem;
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid lightgray;
    padding: 25px;
    border-radius: 7px;
    grid-area: science;
    background-color: #cdcdcd38;
}
.technology-container{
    display: grid;
    gap: 0.5rem;
    padding: 1rem;
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid lightgray;
    padding: 25px;
    border-radius: 7px;
    grid-area: tech;
    background-color: #cdcdcd38;
}
.nasa-container{
    display: grid;
    overflow-x: auto;
    gap: 0.5rem;
    padding: 1rem;
    max-height: 500px;
    border: 1px solid lightgray;
    padding: 25px;
    border-radius: 7px;
    grid-area: nasa;
    background-color: #cdcdcd38;
}
.photo-container{
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    padding: 1rem;
    background-color: white;
    gap: 1rem;
}
.nasa-article{
    background-color: white;
    border: 2px solid black;
    border-radius: 7px;
}
.nasa-img{
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.nasa-big{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    object-fit: cover;
    border: 100px solid rgba(0,0,0, 0.6);
}
.business-news-container{
    display: grid;
    gap: 0.5rem;
    padding: 1rem;
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid lightgray;
    padding: 25px;
    border-radius: 7px;
    grid-area: business;
    background-color: #cdcdcd38;
}
.forex-container{
    display: grid;
    gap: 0.5rem;
    padding: 1rem;
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid lightgray;
    padding: 25px;
    border-radius: 7px;
    grid-area: forex;
}
.text-container{
    display: grid;
    gap: 0.5rem;
    padding: 1rem;
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid lightgray;
    padding: 25px;
    border-radius: 7px;
    grid-area: txt;
}
.entertainment-container{
    display: grid;
    gap: 0.5rem;
    padding: 1rem;
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid lightgray;
    padding: 25px;
    border-radius: 7px;
    grid-area: entert;
    background-color: #cdcdcd38;
}
.entertainment-articles{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
}
article{
    border: 1px solid lightgrey;
    padding: 2rem;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    background-color: white;
}
article img{
    width: 400px;
    height: 200px;
    border-radius: 7px;
    object-fit: cover;
}

.currency-article{
    display: flex;
    flex-direction: column;
}
.currencies-articles{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer{
    background-color: rgb(70, 70, 70);
    padding: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
footer ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style:none;
}
footer button{
    background-color: rgb(70, 70, 70);
    border: 1px solid #CDCDCD;
    color: #CDCDCD;
    padding: 0.5rem 1rem;
}
footer button:hover{
    background-color: #CDCDCD;
    color: black;
    cursor: pointer;
}
footer a{
    background-color: #CDCDCD;
    padding: 1rem;
    border: 1px solid #CDCDCD;
    text-decoration: none;
    color: black;
}
footer a:hover{
    background-color: rgb(70, 70, 70);
    color: white;
}


.lateral{
    position: fixed;
    z-index: 999999999999999;
    right: 0;
    height: 100vh;
    width: 20%;
    padding: 1rem;
    border: 1px solid lightgray;
    background-color: white;
}
.visible{
    display: inline;
}
.not-visible{
    display: none;
}

.lateral-ul{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    list-style: none;
    gap: 2rem;
}

.saved{
    padding: 2rem 20rem;
}
.saved-art{
    border: 1px solid #CDCDCD;
    padding: 1rem ;
}



.hero {
  position: relative;
  height: 80vh;
  background-image: url("assets/press.jpg");
  background-size: cover;
  background-position: center;
}

/* overlay scuro */
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.1)
  );
}

/* testo sopra */
.hero-content {
  position: absolute;
  bottom: 60px;
  left: 60px;
  color: white;
  max-width: 600px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.hero-content p {
  font-size: 1.2rem;
}

.about{
    background-color: #4d4d4d;
    color: white;
    margin: 2rem;
    padding: 4rem;
    border-radius: 10px;
}



/* @media (max-width: 700px) {
  .page-container {
    grid-template-areas: 
    "main" "main" "main"
    "header" "header" "header";
  }
} */